h1 {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin: 0;
}

img.float-right {
    float: right;
    margin-right: 5px;
    width: 400px;
    height: auto;
    border: 10px solid red;
    border-radius: 10px;
}

p {
    font-size: 1.4em;
    line-height: 1.6;
    max-width: 1300px;
    
}

body {
    background-color: #e9e9e9;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: yellow;
    background-image: radial-gradient(circle, black);
    font-size:1.4em;
}

.tim {
    clear:both
}
.kid {
    clear:both
}
.bart {
    clear:both
}